<!DOCTYPE html>
<html>
<head>
  <title>DonorApp</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="Chartist/chartist.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script type="text/javascript" src="jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="angular-route.js"></script>
  <script type="text/javascript" src="Chartist/chartist.min.js"></script>
  <script type="text/javascript" src="utils.js"></script>
  <script type="text/javascript" src="GridNode.js"></script>
  <script type="text/javascript" src="GridXML.js"></script>
</head>

<body>
  <div id="myAppDiv" ng-app="DonorApplication" ng-controller="myCtrl">
  <div id="before_db">
      <div id="file_selector_one">
          <div>
              If you haven't created donor file yet create one here.
          </div>
          <div>
              <button id="create_new_file" ng-click="loadNewFile()">Create File</button>
                File Name: <input type="text" id="new_file_name">
          </div>
      </div>
      <div id="file_selector_two">
          <div>If you have already created a donor file you can search for it here.</div>
          <div>
              <button id="choose_file" ng-click="loadFile()">Choose File</button>
          </div>
      </div>
  </div>
  <div id="after_db">
      <div id="file_reselect">
          <div>
              Choose a different donor file
          </div>
          <div>
              <button id="change_file" ng-click="changeFile()">Change Donor File</button>
          </div>
      </div>
      <div id="tabNavDiv">
        <ul class="tabNav">
          <li class="current" id="donor_nav_tab" ng-click="selectDonorTab()"><a href="#">Donors</a></li>
          <li id="donation_nav_tab" ng-click="selectDonationTab()"><a href="#">Donations</a></li>
        </ul>                                 
      </div>
      <div id="donor_tab">
        <div id="donor_buttons">
          <button id="donor-add" class="button" ng-click="addDonor()">Add Donor</button>
          <button id="donor-edit" class="button" ng-click="editDonor()">Edit Donor</button>
          <button id="donor-remove" class="button" ng-click="removeDonors()">Remove Donor(s)</button>
          <button id="donor-import" class="button" ng-click="import()">Import</button>
        </div>
        <div id="table_div" style="height:400px; overflow:auto;">
            <table style="width:100%" border="1" display="block" ng-table="donor_table_params">
              <thead>
                <td></td>
                <td>ID</td>
                <td>Name</td>
                <td>Address</td>
              </thead>
              <tbody>
                <tr ng-repeat="donor in donors">
                <td><input type="checkbox" id='{{"donatebox_" + ( $index + 1 ).toString()}}'></input></td>
                <td>{{donor.getFieldValue( "donor_id" )}}</td>
                <td>{{donor.getFieldValue( "name" )}}</td>
                <td>{{donor.getFieldValue( "address[primary='true']" )}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div id="donation_tab">
          <button id="donation-add" class="button" ng-click="addDonation()">Add Donation</button>
          <button id="donation-edit" class="button" ng-click="editDonation()">Edit Donation</button>
          <button id="donation-remove" class="button" ng-click="removeDonations()">Remove Donation(s)</button>
          <div id="donation_search">
            <select id="donation-search-choice" ng-model="supportFilter" ng-change="onSupportFilterChange()">
              <option value="all_donors">All donors</option>
              <option ng-repeat="donor in donors" value={{donor.internalID}}>{{donor.getFieldValue( "name" )}}</option>
            </select>
            <div id="date_range_one_div">
                <select id="date_range_choice" ng-model="currentDateChoice" ng-change="donationDateFilter()">
                  <option value="all_dates">All Dates</option>
                  <option value="this_week">This Week</option>
                  <option value="this_month">This Month</option>
                  <option value="this_year">This Year</option>
                  <option value="custom">Custom</option>
                </select>
            </div>
            <div id="date_range_two_div">
              <input type="date" id="date_range_one" ng-model="currentDateOne" ng-change="dateInputOneChange()"></input>
            </div>
            <div id="date_range_three_div">
              <input type="date" id="date_range_two" ng-model="currentDateTwo" ng-change="dateInputTwoChange()"></input>
            </div>
            <button id="donation_search_btn" class="button" ng-click="searchDonations()">Search</button>
          </div>
          <div id="donation_table_div" style="height:400px; overflow:auto;">
              <table style="width:100%" border="1" display="block" ng-table="donation_table_params">
                  <thead>
                      <td></td>
                      <td>supporter</td>
                      <td>Date</td> 
                      <td>Description</td> 
                      <td>Amount</td>
                  </thead>
                  <tbody>
                      <tr ng-repeat="donation in donationsFiltered">
                        <td><input type="checkbox" id='{{"donationbox_" + ( $index + 1 ).toString()}}'></input></td>
                        <td>{{ lookupDonorName( donation.getFieldValue( "supporter_id" ) ) }}</td>
                        <td>{{donation.getFieldValue( "date"          )}}</td>
                        <td>{{donation.getFieldValue( "desc"          )}}</td>
                        <td align="right" style="padding-right:10px">{{donation.getFieldValue( "amount" )}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right" style="padding-right:10px">{{getTotalFilteredDonations()}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div id="chart_div">
              <div class="ct-chart"></div>
          </div>
      </div>
      <div id="new_donor_form">
        <table>
          <tbody>
            <tr>
              <td>Donor ID</td>
              <td><input class="input" id="donor-id"></input></td>
            </tr>
            <tr>
              <td>Name</td>
              <td><input class="input" id="donor-name"></input></td>
            </tr>  
            <tr>
              <td>Relationship</td>
              <td><input class="input" id="donor-relationship"></input></td>
            </tr>  
            <tr>
              <td>Primary Address</td>
              <td><input class="input" id="donor-address"></input></td>
            </tr>      
            <tr>
              <td>Primary Address</td>
              <td><input class="input" id="donor-address2"></input></td>
            </tr>   
            <tr>
              <td>City</td>
              <td><input class="input" id="donor-city"></input></td>
            </tr>   
            <tr>
              <td>State</td>
              <td><input class="input" id="donor-state"></input></td>
            </tr> 
            <tr>
              <td>Zip</td>
              <td><input class="input" id="donor-zip"></input></td>
            </tr> 
            <tr>
              <td>Country</td>
              <td><input class="input" id="donor-country"></input></td>
            </tr> 
            <tr>
              <td>Email</td>
              <td><input class="input" id="donor-email"></input></td>
            </tr> 
            <tr>
              <td>Home Phone</td>
              <td><input class="input" id="donor-homephone"></input></td>
            </tr> 
            <tr>
              <td>Cell Phone</td>
              <td><input class="input" id="donor-cellphone"></input></td>
            </tr> 
          </tbody>
        </table>
        <button id="donor-save" class="button" ng-click="saveDonor()">Save</button>
        <button id="donor-cancel" class="button" ng-click="cancelDonor()">Cancel</button> 
      </div>
      <div id="new_donation_form">
        <table>
          <tbod>
            <tr>
              <td>Donor</td>
              <td>
                <select id="donation-donor-choice">
                  <option ng-repeat="donor in donors" value={{donor.internalID}}>{{donor.getFieldValue( "name" )}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Date</td>
              <td><input type="date" id="donation-date"></input></td>
            </tr>
            <tr>
              <td>Amount</td>
              <td><input type="number" id="donation-amount"></input></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><input type="text" id="donation-description"></input></td>
            </tr>
          </tbod>
        </table>        
        <button id="donation-save" class="button" ng-click="saveDonation()">Save</button>
        <button id="donation-cancel" class="button" ng-click="cancelDonation()">Cancel</button> 
      </div>
      <div id="import_div">
        <textarea id="importtextbox" rows="25" cols="100"></textarea>
        <div id="import_choice_div">
          <select id="inputTypeCombo">
            <option value="emailImport">Email Import</option>
            <option value="csvImport">CSV Import</option>
          </select>
        </div>
        <div>
          <input type="checkbox" id="updateDonorCheck">Update Donor Information</input>
        </div>
        <div id="import_buttons">
          <button id="import-okay" class="button" ng-click="importText()">Okay</button>
          <button id="import-cancel"class="button" ng-click="importCancel()">Cancel</button>
        </div>
      </div>
  </div>
  </div>
  <script src="main.js"></script>
  <script src="app.js"></script>
  <script src="app-database.js"></script>
  <script src="app-import.js"></script>
  <script src="app-scope.js"></script>
  <script src="events.js"></script>
</body>
</html>
