/* CSS file placeholder. */
.tablescrolling {
  overflow: auto;
}

div {
  display: block;
  clear: both;
}

ul.tabNav
{
  float:left;list-style:none;
}
ul.tabNav li
{
  float:left;
  margin:0 1px 0 0;
  padding:6px 0 0;
}
ul.tabNav li.current
{
  padding-top:0;
}
ul.tabNav a
{
  background:#ececec;
  border:1px solid #dedede;
  border-width:1px 1px 0;
  color:#333;
  display:block;
  padding:4px 4px 5px 4px;
  text-decoration:none;
}
ul.tabNav li.current a{
  background:#dedede;
  border:none;
  padding:8px;
}
